---
http_interactions:
- request:
    method: put
    uri: http://test.lvh.me:3000/tickets/8/requester?auth_token=pggZFqQFX1anQPxjQXCT
    body:
      encoding: US-ASCII
      string: requester%5Bemail%5D=zack4691%40gmail.com
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b8cda9d083c13b08a34b29cf7df49fc5"'
    body:
      encoding: US-ASCII
      string: ! '{"user":{"auto_assign":true,"email":"newemail@example.com","first_name":null,"last_name":null}}'
  recorded_at: Tue, 17 May 2016 19:17:42 GMT
- request:
    method: get
    uri: http://test.lvh.me:3000/tickets/8?auth_token=pggZFqQFX1anQPxjQXCT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f53c7c0ebdfea385d555dee3ef14fbae"'
    body:
      encoding: US-ASCII
      string: ! '{"ticket":{"id":8,"subject":"subject","replies_count":0,"agent_replies_count":0,"comments_count":10,"last_activity_at":"2016-05-17T19:10:01Z","created_at":"2016-05-16T14:14:32Z","unanswered":true,"archived":false,"private":false,"spam":false,"trash":false,"summary":"Ticket
        body","draft":false,"source":{"web":"paulo@supportbe.com"},"cc":[],"labels":[],"customer_rating":{},"requester":{"id":20,"email":"newemail@example.com","name":null,"role":"customer","agent":false,"picture":{"thumb20":"https://secure.gravatar.com/avatar/bf168af3cccc78507058e6a46213ae47.png?r=PG&s=20","thumb24":"https://secure.gravatar.com/avatar/bf168af3cccc78507058e6a46213ae47.png?r=PG&s=24","thumb32":"https://secure.gravatar.com/avatar/bf168af3cccc78507058e6a46213ae47.png?r=PG&s=32","thumb48":"https://secure.gravatar.com/avatar/bf168af3cccc78507058e6a46213ae47.png?r=PG&s=48","thumb64":"https://secure.gravatar.com/avatar/bf168af3cccc78507058e6a46213ae47.png?r=PG&s=64","thumb128":"https://secure.gravatar.com/avatar/bf168af3cccc78507058e6a46213ae47.png?r=PG&s=128"}},"content":{"html":"Ticket
        body","text":"Ticket body","truncated":false,"attachments":[]},"starred":false}}'
  recorded_at: Tue, 17 May 2016 19:17:42 GMT
- request:
    method: post
    uri: http://test.lvh.me:3000/tickets/8/comments?auth_token=pggZFqQFX1anQPxjQXCT
    body:
      encoding: US-ASCII
      string: comment%5Bcontent_attributes%5D%5Bbody_html%5D=%3Cp%3ETicket%27s+sender+changed+to+zack4691%40gmail.com%3C%2Fp%3E
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c7e0a78493b0fbddb8aa9b52bd44bd73"'
    body:
      encoding: US-ASCII
      string: ! '{"comment":{"id":83,"created_at":"2016-05-17T19:17:42Z","merged":false,"ticket":{"replies_count":0,"agent_replies_count":0,"comments_count":11},"commenter":{"id":6,"email":"app.1.extract_sender_from_email@appuser.supportbeemail.com","name":"Corporate
        Email Forward","role":null,"agent":false,"active_tickets_count":0,"picture":{"thumb20":"http://localhost:9292/images/extract_sender_from_email/icon.png","thumb24":"http://localhost:9292/images/extract_sender_from_email/icon.png","thumb32":"http://localhost:9292/images/extract_sender_from_email/icon.png","thumb48":"http://localhost:9292/images/extract_sender_from_email/icon.png","thumb64":"http://localhost:9292/images/extract_sender_from_email/icon.png","thumb128":"http://localhost:9292/images/extract_sender_from_email/icon.png"}},"content":{"html":"<p>Ticket''s
        sender changed to newemail@example.com</p>","text":"Ticket''s sender changed
        to newemail@example.com","truncated":false,"attachments":[]}}}'
  recorded_at: Tue, 17 May 2016 19:17:43 GMT
[...]
