<label for = "to"> To: </label>
<input name="to" type="text"/>

<label for = "subject"> Subject: </label>
<input name="subject" type="text"/>

<label for = "body"> Body: </label>
<textarea name="body">
</textarea>
