<div class="field">
  <label for="to">To: </label>
  <input name="to" type="text"/>
</div>
<div class="field">
  <label for="subject">Subject: </label>
  <input name="subject" type="text"/>
</div>
<div class="field">
  <label for="body">Message: </label>
  <textarea name="body"></textarea>
</div>