<h3>Edit the message details</h3>
{{#each tickets}}
  {{#ticket}}
    <ol>
      <li>
        <label for="title">Message Title</label>
        <input name="title" value="{{subject}}">
      </li>
      <li>
        <label for="description">Message Body</label>
        <textarea name="description">
          {{content.text}} \n
          https://{{../../company.subdomain}}.supportbee.com/tickets/{{id}}
        </textarea>
      </li>
    </ol>
  {{/ticket}}
{{/each}}