<form>
{{#each tickets}}
  {{#ticket}}
    <ol>
      <li>
        <label for="list">Select List</label>
        <select name="lists_select"></select>
      </li>
      <li>
        <a class="submit btn btn-primary">Send to MailChimp</a>
        <a class="cancel btn">Cancel</a>
      </li>
    </ol>
  {{/ticket}}
{{/each}}
</form>
