development:
  app_platform:
    core_app_base_domain: lvh.me
    core_app_port: 3000
    core_app_protocol: http
    cloudfront_base_url: http://localhost:9292
    redis:
      host: '127.0.0.1'
      db: 6
    sidekiq_redis:
      host: '127.0.0.1'
      db: 6
      # port: 6479

test:
  app_platform:
    core_app_base_domain: lvh.me
    core_app_port: 3000
    core_app_protocol: http
    cloudfront_base_url: http://localhost:9292
    redis:
      host: '127.0.0.1'
      db: 9
    sidekiq_redis:
      host: '127.0.0.1'
      db: 9
      # port: 6479
