<h2 class="ui dividing header">Mark as Answered</h2>
<div class="content">
  <div class="field">
    <label for="comment">Comment (Optional)</label>
    <textarea name="comment"></textarea>
  </div>
</div>