<h3 class="ui dividing header">Mark as Answered</h3>
<div class="field">
  <label for="comment">Optional Comment</label>
  <textarea name="comment"></textarea>
  <p class="inline-hints">Leave blank for no comment</p>
</div>
