<h2 class="ui dividing header">Create a Snippet</h2>
<div class="content">
  {{#each tickets}}
    {{#ticket}}
      <div class="field">
        <label for="name">Snippet Name</label>
        <input name="name" type="text">
      </div>
      <div class="field">
        <label for="text">Snippet Text</label>
        <textarea name="text"></textarea>
      </div>
      <div class="field">
        <label for="tags">Snippet Tags</label>
        <input name="tags" type="text">
      </div>
    {{/ticket}}
  {{/each}}
</div>