<h3>Edit the Message Details</h3>
{{#each tickets}}
  {{#ticket}}
    <ol>
      <li>
        <label for="title">Message Title</label>
        <input name="title" value="{{subject}}">
      </li>
      <li>
        <label for="description">Message Description</label>
        <textarea name="description">
{{content.text}} \n
https://{{../../company.subdomain}}.supportbee.com/tickets/{{id}}
        </textarea>
      </li>
      <li>
        <label for="type">Send Ticket as a</label>
        <select name="type">
          <option value="todo_list">ToDo List</option>
          <option value="message">Message</option>
        </select>
      </li>
    </ol>
  {{/ticket}}
{{/each}}
